# ── Build Outputs ──
dist/
node_modules/
build_esp/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
.history/

### KiCad ###
*.kicad_prl

### Mac OS ###
.DS_Store